<!-- Page that displays report of found items -->
{% extends "loggedin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Results
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Report No.{{report.id}}</h2>
    <li>Title: {{report.name}}</li>
    <li>Description: {{report.description}}</li>
    <li>Location Found: {{report.location}}</li>
    <li>Date: {{report.date}}</li>
    <li>Tag: {{report.tag}}</li>
    <li>Reporter: {{report.reporter_user}}</li>
  {% if report.claimed %}
    <li>Claimed by: {{report.claimant_user}}</li>
  {% endif %}
  <form class="form-signin" method="POST" action="/reportpage/{{report.id}}">
    {{ form.hidden_tag() }}
    {% if not (report.reporter_user == current_user) %}
      {% if not report.claimed %}
        <button class="btn btn-primary btn-block" type="submit">Claim</button>
      {% else %}
        {% if not (report.claimant_user == current_user) %}
          <button class="btn btn-primary btn-block" type="submit">Counter Claim</button>
        {% endif %}
      {% endif %}
    {% endif %}
  </form>
</div><!-- /.container -->
{% endblock %}
